*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fbf9f4;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.site-header {
  margin: 2%;
  padding-bottom: 2rem;
  border-bottom: 1px solid #a0a0a096;
  margin-bottom: 3rem;
}

.site-header__meta {
  display: flex;
  align-items: center;
}

.site-header__name {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-size: 3rem;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.1rem;
  text-shadow: -1px 1px 2px;
  margin-bottom: 1rem;
}

.site-header__meta-item {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0.321rem;
  text-transform: uppercase;
}

.site-header__meta-item + .site-header__meta-item::before {
  content: "\00b7";
  margin: 0 0.43rem;
  font-size: 1.5rem;
  vertical-align: middle;
  line-height: 0;
}

.birthday-hero {
  padding: 2% 0;
  text-align: center;
  /* box-shadow: 0px -10px 50px 0px rgba(0, 0, 0, 0.055); */
}

.birthday-hero__title {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.birthday-hero__title-accentx {
  opacity: 0.5;
  filter: blur(7px);
}

.age-stats {
  display: grid;
  margin: 0 35%;
  grid-template-columns: repeat(3, 1fr);
}

.age-stats__value {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.age-stats__label {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 0.72rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .site-header {
    margin: 5%;
    padding-bottom: 1rem;
    border-bottom: 1px solid #a0a0a08e;
    margin-bottom: 2rem;
  }

  .site-header__name {
    font-size: 1.5rem;
  }

  .site-header__meta-item {
    font-size: 0.6rem;
    font-weight: 500;
    letter-spacing: 0.21rem;
  }

  .birthday-hero {
    box-shadow: 0px -10px 50px 0px rgba(0, 0, 0, 0.055);
  }

  .birthday-hero__title {
    font-size: 2.5rem;
    font-weight: 900;
  }

  .age-stats {
    margin: 0;
  }

  .age-stats__card {
    margin: auto;
    padding-bottom: 10%;
    width: 85%;
    border: 1px solid #a0a0a031;
  }

  .age-stats__value {
    font-size: 2rem;
  }

  .age-stats__label {
    font-size: 0.65rem;
  }
}
